#clipboard-tooltip {
    display: none;
    position: absolute;
    padding: 5px 15px;
    font-size: 0.8em;
    background-color: #0E9594;
    color: snow;
    border-radius: 3px;
    box-shadow: var(--drop-shadow);
    animation: peekaboo 0.2s;
    z-index: 9;
}

@keyframes peekaboo {
    from { transform: scale(0.5);}
    to { transform: scale(1);}
}