@font-face {
    font-family: 'Roboto';
    src: url("../fonts/RobotoMono-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Josefin';
    src: url("../fonts/JosefinSans-Regular.ttf");
}

:root {
    --color-vscode-blue: rgb(0, 102, 184);
    --color-vscode-lightblue: rgba(0, 105, 190, 0.596);
    --color-darkgrey: rgb(44, 44, 50);
    --color-lightgrey: #BEBEC5;
    --font-family-heading: 'Josefin', monospace;
    --font-family: 'Roboto', monospace;
    --drop-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    --drop-shadow-light: 0 3px 5px rgba(0, 0, 0, 0.3);
    --focus-outline: 1px solid var(--color-vscode-blue);
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-bg);
    height: 100vh;
    background-color: #2C2C32;
}

/* region RESETS  */

button {
    outline: none;
}

a {
    color: cornflowerblue;
    transition: all 0.3ms ease-in;
}

a:hover {
    color: rgb(100, 187, 237);
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

header {
    display: flex;
}

header nav a {
    color: snow;
}

header nav a:hover {
    color: snow;
    text-decoration: underline;
}

.code-inline {
    background-color: rgb(240, 240, 240);
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 0.85em;
}

/* endregion RESETS  */

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 15px;
    background-color: var(--color-vscode-blue);
    box-shadow: var(--drop-shadow);
    color: snow;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

header nav li {
    padding: 20px;
}

header nav ul li {
    list-style: none;
    display: inline-flex;
}

main {
    width: 100%;
}

input[type="text"] {
    width: 100%;
    height: 35px;
    border: none;
    background-color: transparent;
    color: var(--color-darkgrey);
    font-size: 1.1em;
    flex: 1;
    border-bottom: 1px solid var(--color-lightgrey);
}

input[type="text"]:focus {
    outline: 1px solid var(--color-vscode-lightblue);
}

input[type="text"]~.border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--color-vscode-blue);
    transition: 0.3s;
}

input[type="text"]:focus~.border {
    width: 100%;
    left: 0;
}

button.filter {
    display: flex;
    order: 1;
    justify-content: center;
    border: 1px solid var(--color-vscode-blue);
    padding: 8px 16px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s;
}

button.filter:focus {
    outline: var(--focus-outline);
}

button.filter.selected {
    background-color: var(--color-vscode-blue);
    color: white;
}

button.filter:hover {
    background-color: rgba(0, 102, 184, 0.85);
    color: white;
}

button.filter:nth-child(n+1) {
    border-right: none;
}

button.filter:last-child {
    border-right: 1px solid var(--color-vscode-blue);
}

#filter-area {
    background-color: snow;
    padding: 25px 15px;
}

#filter-area>div {
    display: flex;
    flex: 1;
    margin-right: 30px;
}

#filter-area>div:not(:first-child) {
    margin-top: 1em;
}

#versions select {
    padding: 8px;
    border: 1px solid var(--color-vscode-blue);
}

noscript {
    background-color: white;
    padding: 20px;
}

noscript p {
    background-color: tomato;
    border-radius: 5px;
    padding: 20px;
    color: snow;
}

footer {
    padding: 20px;
}

#edit-on-gh {
    position: absolute;
    right: 15px;
    margin-top: 15px;
    color: snow;
    border: 1px solid rgb(180, 180, 180);
    padding: 8px 12px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
#edit-on-gh:focus {
    outline : var(--focus-outline);
}
#edit-on-gh:hover {
    border: 1px solid snow;
    color: snow;
}
#edit-on-gh:active {
    box-shadow: var(--drop-shadow-light);
}
#edit-on-gh::before {
    display: inline-block;
    content: "";
    position: relative;
    right: 5px;
    top: 3px;
    width: 20px; height: 20px;
    background: url("../images/pencil.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.metadata {
    color: #b6b6b6;
}

[aria-hidden="true"] {
    visibility: hidden;
    width: 0; height: 0;
    padding: 0; margin: 0;
}

dt a,
#keybindsList dd a {
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

dt a:hover,
#keybindsList dd a:hover {
    display: inline-block;
    padding-right: 25px;
    background: no-repeat url('../images/link.svg');
    background-size: auto 80%;
    background-position: bottom 1px right 0px;
    color: white;
    transition: unset;
}

@media all and (max-width: 576px) {
    header {
        flex-flow: column nowrap;
    }
    header div {
        margin: auto;
    }
    #filters, #filter-area>div {
        flex-flow: column-reverse nowrap;
        margin-right: 0;
    }
    #filter-area > div:last-child {
        align-items: initial;
    }
    /* NOTE: the container for the filter buttons is flex-flow: column-reverse */
    button.filter,
    button.filter:nth-child(n+1) {
        border: none;
        border-left: 1px solid var(--color-vscode-blue);
        border-right: 1px solid var(--color-vscode-blue);
    }
    button.filter:first-child {
        border-bottom: 1px solid var(--color-vscode-blue);
    }
    button.filter:last-child {
        border-top: 1px solid var(--color-vscode-blue);
    }
    button.filter:nth-child(n):not(:last-child) {
        border-top: 1px solid var(--color-vscode-blue);
    }
}

@media (prefers-color-scheme: dark) {
    button.filter.selected {
        background-color: var(--color-darkgrey);
    }
    button.filter {
        background-color: var(--color-lightgrey);
    }
    button.filter:focus {
        outline: 1px solid snow;
    }
    button.filter:hover {
        background-color : rgba(44, 44, 50, 0.75);
    }
    button.filter,
    button.filter:nth-child(n+1) {
        border: none;
        border-left: 1px solid var(--color-darkgrey);
        border-right: 1px solid var(--color-darkgrey);
    }
    button.filter:first-child {
        border-bottom: 1px solid var(--color-darkgrey);
    }
    button.filter:last-child {
        border-top: 1px solid var(--color-darkgrey);
    }
    button.filter:nth-child(n):not(:last-child) {
        border-top: 1px solid var(--color-darkgrey);
    }
}