#settingsList {
    padding: 25px 35px;
}

#settingsList section h1 {
    text-transform: uppercase;
    color: white;
    font-family: var(--font-family-heading);
    font-size: 1.75em;
}

#filters {
    align-items: stretch;
}

#glossary-index-mobile {
    display: none;
}

#glossary-index {
    margin-left: 8px;
}

#glossary-index li {
    font-size: larger;
    text-transform: uppercase;
}

#glossary-index li a {
    text-decoration: none;
    color: black;
    padding: 8px;
}

#glossary-index li a:hover {
    text-decoration: underline;
}

footer {
    color: snow;
}

section h1 {
    margin-bottom: 0;
}

section details {
    margin-left: 1.5em;
}

details dt:first-of-type {
    margin-top: 1em;
}

details summary {
    color: snow;
    font-size: 1.25em;
    cursor: pointer;
}

dl {
    margin-left: 1.5em;
}

dl.deprecated dt code {
    text-decoration: line-through;
    color: #9B9B9B;
}

dl.deprecated dt ul.tags {
    display: inline-flex;
}

dl.deprecated dt ul.tags>li {
    border: 1px solid snow;
    border-radius: 4px;
    font-size: 0.75em;
    padding: 1px 8px;
    margin-left: 6px;
}

dl.deprecated dt ul.tags>li.deprecated {
    border-color: #ff4949;
    color: #ff4949;
    font-weight: lighter;
}

dd {
    margin-bottom: 1em;
    color: white;
}

dd p a {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}

dd p a::after {
    position: absolute;
    content: "";
    top: 3px;
    right: -1px;
    width: 15px;
    height: 15px;
    background: url('../images/external_link.svg');
}

dd p a:hover {
    text-decoration: underline;
}

dd p a:hover::after {
    display: inline-block;
    background: url('../images/external_link_hover.svg');
}

dd .code-inline {
    background-color: #1d1d20;
}

#toggle-collapse {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url('../images/expand.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#toggle-collapse:focus {
    outline: var(--focus-outline);
}

#toggle-collapse.expanded {
    background-image: url('../images/collapse.svg');
}

#to-tops {
    display: none;
    flex-flow: column nowrap;
    position: fixed;
    right: 35px;
    bottom: 35px;
    height: 155px;
    align-content: space-between;
}

#scroll-to-top-btn, #scroll-to-prev-section, #scroll-to-next-section {
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 45px;
    outline: none;
    transition: all 0.25s;
    width: 35px;
    margin: auto;
    transform: scale(0);
    animation: popin 0.3s forwards;
    opacity: 0.7;
}

#scroll-to-prev-section, #scroll-to-next-section {
    border: 2px solid snow;
    height: 40px;
    background-color: transparent;
    color: snow;
    border-radius: 4px;
    font-size: 1.1em;
}

#scroll-to-top-btn {
    background: no-repeat url("../images/top-up.svg");
    background-size: contain;
    margin-top: 13px;
    animation-delay: 0.15s;
}

#scroll-to-next-section {
    animation-delay: 0.3s;
}

#scroll-to-prev-section:hover, #scroll-to-next-section:hover {
    font-size: 1.3em;
    opacity: 1;
}

#scroll-to-top-btn:hover {
    opacity: 1;
}

@keyframes popin {
    to {
        transform: scale(1);
    }
}

@media all and (max-width: 900px) {
    #filter-area > div:nth-child(2) {
        flex-flow: column-reverse nowrap;
    }
    #glossary-index {
        justify-self: flex-start;
    }
}

@media all and (max-width: 576px) {
    #glossary-index-mobile {
        display: flex;
        flex: 1;
    }
    #glossary-index-mobile select {
        height: 30px;
    }

    #glossary-index {
        display: none;
    }

    dl.deprecated dt ul.tags {
        display: block;
    }
    .mr-4 {
        margin-right: 0;
    }

    #filters {
        margin-bottom: 1em;
    }
}